#sobre{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}

#sobre #img2{
    width: 40vw;
    height: 40vh;
    padding: 25px;
    box-shadow: 0 0 20px hsla(0, 0%, 0%, .2);
}

#sobre #text4{
    width: 40vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sobre #text4 #container4{
    box-shadow: 0 0 20px hsla(0, 0%, 0%, .2);
    padding: 25px;
    border-radius: 6px;
}

@media only screen and (max-width: 767px){
    #sobre{
        width: 100vw;
        height: 120vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 250px;
        gap: 50px; 
    }
    #sobre #image2{
        width: auto;
        height: auto;
        padding: 25px;
        box-shadow: 0 0 20px hsla(0, 0%, 0%, .2);
        margin-bottom: 280px;
    }
    #sobre #image2 img{
        width: 71vw;
        height: auto;
    }
    #sobre #text4{
        width: 87vw;
    }
}
