#footer{
    width: 100vw;
    height: 40vh;
    background: #ff8229;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    position: relative;
}

#footer #container5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#footer #container5 #telefone,
#footer #container5 #localizacao{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    text-align: left;
}

#footer #container5 #rateus #rate{
    padding: 7px 7px;
    border: solid 2px #fff;
    color: #fff;
    transition: .3s;
}
#footer #container5 #rateus #rate:hover{
    background: #fff;
    color: #ff8229;
    transition: .3s;
}

#footer #container5 hr{
    width: 80vw;
    border: 1px solid #000;
    border-radius: 25px;
}

#footer #creator{
    max-width: 20ch;
    text-align: center;
}

@media only screen and (max-width: 767px){
    #footer{
        width: 100vw;
        height: 110vw;
    }
}