#inicio{
    width: 100vw;
    height: 100vh;
    display: flex;
    padding-left: 150px;
    align-items: center;
    z-index: 0;
    background-image: url("/assets/fachada.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsla(0, 0%, 0%, 0.65);
    background-blend-mode: multiply;
    box-shadow: 0 0 20px hsla(0, 0%, 0%, 0.12);
} 
#inicio #text1{
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: 120px;
    color: #fff;
}
#inicio #text1 div{
    height: 130px;
}
#inicio #text1 #orange{
    color: var(--orange);
}

@media only screen and (max-width: 512px){
    #inicio{
        width: 100vw;
        max-height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding-left: 60px;
        background-position-x: -359px;
        background-attachment: fixed;
    }
    #inicio #text1{
        font-size: 50px;
    }
    #inicio #text1 div{
        height: 70px;
    }
}